
.icon-arrows-cw:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e802'; } /* '' */
.icon-graduation-cap:before { content: '\e803'; } /* '' */
.icon-bug:before { content: '\e804'; } /* '' */
.icon-cab:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-ambulance:before { content: '\e807'; } /* '' */