.form {
  border: 1px dotted black;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  background-color: #fcfcfc
}
.form * {
  display: block;
  margin:5px;
}
.table table {
  width: 800px;
  border: 1px solid black;
  text-align: left;
}

.table table tbody tr:nth-child(even) {
  background-color: #eee;
}