.navbar {
    border-radius: 0;
  }
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.my-blocks {
    height: 325px;
    width: 325px;
    border: 1px solid black;
}

.col-md-3 {
    float: right;
    width: inherit;
    padding-left: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}