.navbar {
    border-radius: 0;
  }
.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.block {
    height: 462px;
}

.clear-margin {
    margin: 0;
}

.block-position {
    float: left;
    padding-left: 0;
}

.header {
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.header a {
    color: white;
    vertical-align:text-top;
}

.block-sport {
    background-image:url('../img/sport.jpg');
}

.block-computer {
    background-image:url('../img/computer.jpg');
}

.colored-blocks {
    height: 154px;
    border: 1px solid black;
}

.teal-block {
    background-color:teal;
}

.orange-block {
    background-color:orange;
}

.black-block {
    background-color:black;
}